* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

h1 {
    margin: 0 auto;
    text-align: right;
    width: 90%;
    font-style: italic;
}

a {
    text-decoration: none;
    position: relative;
    color: white;
    text-align: center;
    font-size: 60px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background: #808080;
}

span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 45vh;
}

#h1_header {
    font-size: 40px;
    text-align: center;
    font-family: Arial;
    color: white;
}

#calc {
    background: url(img/calc1.png);
    background-position: center;
    transition: 1s;
    background-size: 100%;
}

#calc:hover {
    
    background-size: 120%;
}

#tic {
    background: url(img/tic.png);
    background-position: center;
    background-size: 100%;
    transition: 1s;
}

#tic:hover {
    background-size: 150%;
}

























