*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.cursor {
    cursor: pointer;
}

.text {
    color: white;
}

.ico,
svg {
    width: 50%;
    margin: 0 auto;
}

/* Hide block "Call" */

.hide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    align-items: center;

    width: 100%;
    height: 100vh;

    background: black;
    opacity: .7;
    z-index: 30000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    z-index: 50000;
}

.hide-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    height: 23vw;

    background: white;
    opacity: 1;
    border-radius: 15px;

    margin: 0 auto;

    z-index: 100000;
}

.hide-top {
    display: flex;
    flex-direction: row-reverse;
}

.cross {
    width: 20px;
    height: 20px;

    margin: 10px;
}

.hide-text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: center;

    width: 62%;
    height: 10%;
    margin: 0 auto;
}

.hide-text-2 {
    display: flex;
    align-items: center;
    font-size: 0.9vw;
    font-weight: 300;
    text-align: center;

    width: 50%;
    height: 20%;
    margin: 0 auto;
}

.hide-inp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 70%;
    height: 30%;

    margin: 0 auto;
}

.hide-input-call {
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 48%;
    height: 3vw;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    background: white;

    font-size: 0.7vw;
    color: rgba(51, 51, 51, 1);
}

.hide-input-call > input {
    border: 0px;
    outline: none;
}

.hide-input {
    outline: none;
    height: 40%;
    padding: 10px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.hide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 20%;
    margin: 0 auto;
    margin-bottom: 3vw;
}

.hide-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;

    background: #3BB667;
    color: white;

    border: 0px;
    border-radius: 60px;
    cursor: pointer;
}

/* Hide block "Test" */

.hide-block-test {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    width: 50%;
    height: 30vw;

    background: #ffffff;
    border-radius: 10px;

    margin: 0 auto;
}

.hide-test-text-2 {
    display: flex;
    align-items: center;
    font-size: 1vw;
    font-weight: 300;
    text-align: center;

    width: 40%;
    height: 20%;
    margin: 0 auto;
}

.hide-test-inp {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.hide-test-input {
    padding: 20px;
    width: 48%;
    height: 3vw;
    

    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    font-size: 1vw;
    color: rgba(51, 51, 51, 1);
}

.textarea-test {
    padding: 20px;
    width: 85%;
    height: 8vw;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    font-size: 1vw;
    color: rgba(51, 51, 51, 1);

    resize: none;
    margin: 0 auto;
}

.hide-block-test > select {
    padding: 10px;
    width: 85%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    font-size: 1vw;
    color: rgba(51, 51, 51, 1);

    resize: none;
    margin: 1vw auto;
}

.hide-test-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 70%;

    background: #3BB667;
    color: white;

    border: 0px;
    border-radius: 60px;
    cursor: pointer;
}

/* Header */

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 7vw;
    border-bottom: 1px solid rgba(59, 182, 103, .2);
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62%;
    margin: 0 auto;
}

.header-logo {
    display: flex;
    align-items: center;
    width: 18%;
    height: 100%;
}

.header-logo-img {
    width: 15vw;
}

.header-nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    height: 7vw;
}

.header-call {
    text-align: right;
}

.header-link {
    margin-bottom: 20px;
}

.header-nav-link {
    color: #fff;
    font-size: 1.1vw;
    font-weight: 100;
    margin: 0 10px;
}

.header-number {
    color: #fff;
    display: inline-flex;
    font-size: 1.2vw;
    font-weight: normal;
    margin-right: 30px;
}

#button-call {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 12vw;
    height: 2.7vw;
    border-radius: 40px;
    border: 1px solid #fff;
    
    font-size: 1.1vw;
    
    cursor: pointer;
    transition: .2s;
}

#button-call:hover {
    background: white;
    color: #003F50;
}

/* Main */

.main {
    display: flex;
    align-items: center;
    height: 55vw;
    width: 100%;
    margin: 0 auto;

    background: url(img/svg/bg/Rectangle.svg);
    background-size: cover;
    background-position: bottom;
}

.main-width {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 62%;
    height: 70%;
    margin: 0 auto;
}

.main-text {
    display: flex;
    flex-direction: column;

    width: 53%;
    height: 100%;
    color: white;
    margin-top: 120px;
}

.main-text-1 {
    font-size: 2.6vw;
    font-weight: 700;
}

.main-text-2 {
    font-size: 2vw;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.2;
}

.main-text-3 {
    font-size: 1.4vw;
    font-weight: 300;
    margin-bottom: 30px;
}

.main-text-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 12vw;
    height: 3.6vw;

    background: #3BB667;

    border-radius: 60px;
    font-weight: bold;
    cursor: pointer;
}

.main-unity-2 {
    position: absolute;
    top: 9vw;
    right: 0;

    width: 40%;
    height: 70vw;

    background: url(img/svg/bg/unity-2.svg);
    background-size: cover;
    z-index: 1;

}

.main-apple-devices {
    position: absolute;
    top: 16vw;
    right: 2vw;

    width: 45%;
    height: 27.6vw;

    background: url(img/svg/bg/Apple-Devices.svg);
    background-size: cover;
    z-index: 1;
}

/* Main 2 */

.main-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 55vw;

    margin-top: 5vw;
}

.main-2-text-1 {
    text-align: center;
    color: #333333;
    font-size: 2.3vw;
    font-weight: bold;
}

.main-2-text-2 {
    width: 41%;
    color: #333333;
    font-size: 1.3vw;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
}

.main-2-table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 62%;
    height: 40vw;

    margin: 3vw auto;
}

.table-cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 49%;
    height: 11.7vw;

    border-radius: 15px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.2);
    transition: .2s;
    z-index: 10;
}

.table-cell:hover {
    background: #003F50;
    color: white;
}

.table-cell:hover .sign-round {
    background: white;
    color: rgba(59, 182, 103);
    opacity: 1;
    transition: .2s;
}

.table-cell-sign {
    display: flex;

    width: 20%;
    height: 80%;
}

.sign-round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 5vw;
    height: 5vw;

    background: rgba(59, 182, 103, 0.2);
    opacity: .8;

    border-radius: 50%;
}

.table-cell-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 70%;
    height: 80%;
}

.cell-text-1 {
    width: 100%;
    height: 20%;
    font-size: 1vw;
    font-weight: bold;

}

.cell-text-2 {
    width: 100%;
    height: 80%;
    font-size: 0.8vw;

}

/* Main 3 */

.main-3 {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 90vw;

    background: url(img/svg/bg/Rectangle-main-3.svg);
    background-size: cover;
    background-position: bottom;
}

.main-3-laptop {
    width: 62vw;
    height: 35.6vw;
    
    background: url(img/svg/bg/MacBook-Pro-mockup%201.svg);
    background-size: cover;
    background-position: center;
    
    margin: 0 auto;
}

iframe {
    position: relative;
    
    width: 47.3vw;
    height: 29.6vw;
    
    margin: 0 auto;
    top: 2vw;
    left: 7.4vw;
}

.main-3-text {
    color: white;

    font-size: 2.5vw;
    font-weight: bold;

    margin: 4vw auto;
}

.main-3-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 62%;
    height: 18vw;

    margin: 0 auto;
}

.main-3-table-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32.5%;
    height: 45%;

    background: white;

    border-radius: 10px;
}

.table-3-cell-logo {
    display: flex;
    align-items: center;
    text-align: center;

    background: #B90A1D;
    width: 25%;
    height: 50%;

    border-radius: 0 10px 10px 0;
}

.table-3-cell-text {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 70%;

}

.table-3-cell-text-1 {
    width: 85%;
    height: 20%;

    font-size: 1vw;
    font-weight: 600;

    margin: 0 auto;
}

.table-3-cell-text-2 {
    width: 85%;
    height: 80%;

    font-size: 0.8vw;
    font-weight: 400;

    margin: 5px auto;
}

/* Main 4 */

.main-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    margin-top: -8vw;
}

.main-4-text {
    height: 10%;

    font-size: 2.3vw;
    font-weight: bold;

    margin: 2vw auto;
}

.main-4-table {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 62%;
    height: 35vw;

    margin: 0 auto;
}

.main-4-table-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 32%;
    height: 90%;
    border: 1px solid #003F50;
    border-radius: 15px;
    transition: .2s;
}

.main-4-table-cell:hover {
    border: 0px;
    height: 95%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.button-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 12vw;
    height: 3.3vw;

    background: #003F50;
    border-radius: 60px;

    font-size: 1.3vw;
    font-weight: 500;
    color: white;
    text-align: center;
    transition: .2s;

    margin: 0 auto;
}

.main-4-table-cell:hover .button-order {
    background: rgba(59, 182, 103, 1);
    color: white;
    border: 2px solid white;
}

.table-4-cell-text-1 {
    display: flex;
    align-items: center;

    height: 18%;

    font-size: 1.4vw;
    font-weight: bold;

    margin: 0 auto;
}

.price {
    display: flex;
    align-items: center;

    font-size: 1.9vw;
    font-weight: 300;

    margin: 0 auto;
}

.price-bold {
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    font-size: 2.2vw;
}

.table-4-cell-text-2 {
    display: flex;
    align-items: center;
    text-align: center;
    height: 15%;

    font-size: 1vw;
    font-weight: 300;

    margin: 0 auto;
}

.table-4-cell-text-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;

    font-size: 0.9vw;
    font-weight: 300;

    margin: 0 auto;
}

.table-4-cell-button {
    display: flex;
    align-items: center;

    width: 100%;
    height: 30%;
}



#table-ul {
    line-height: 1.6;
}

/* Main 5 */

.main-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.main-5-text {
    width: 62%;

    font-size: 2.3vw;
    font-weight: 600;

    margin: 5vw auto;
    margin-bottom: 2vw;
}

#main-5-ul {
    width: 62%;

    margin: 2vw auto;
}

.main-5-ul-li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    transition: .5s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-size: 1.1vw;
    font-weight: 700;
    color: rgba(0, 63, 80, 1);

    margin: 2vw;
    margin-left: 0;
}

.main-5-ul-li-showed {
    display: flex;
    align-items: center;

    width: 100%;
    height: 5vw;
}

.main-5-ul-li-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 7%;
}

.main-5-ul-li-text {
    word-wrap: break-word;
    width: 90%;
}

.main-5-ul-li-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 10%;
}

.main-5-ul-li-arrow > svg {
    width: 3vw;
    
}

.js-arrow {
    transition: .5s;
    transform: rotate(180deg);
}

.js-ul-hide {
    width: 100%;
}

.list-hide-elem {
    font-size: 1.1vw;
    font-weight: 500;
    color: white;
    text-align: left;

    margin: 2vw;
    margin-left: 4vw;
}

/* Main 6 */

.main-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 30vw;
}

.main-6-text {
    font-size: 2vw;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);

    margin: 0 auto;
}

.main-6-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 85%;
    height: 17vw;

    margin: 0 auto;
}

.slider-images {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50%;
    overflow: hidden;
    
    scroll-snap-type: x mandatory;
}

.slider-image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 33%;
    scroll-snap-align: start;

}

.slider-image > img {
    width: 14vw;
}

/* Main 7 */

.main-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 40vw;

    background: rgba(0, 63, 80, 0.1);
}

.main-7-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 40%;
    height: 27vw;

    margin: 0 auto;
}

.main-7-table-text {
    font-size: 2vw;
    font-weight: 700;
    color: rgba(51, 51, 51, 1);

    margin: 0 auto;
}

.input-name-phone {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input,
textarea {
    outline: none;
}

.input {
    padding: 20px;
    width: 48%;
    height: 3vw;

    border: 0px;
    border-radius: 10px;

    font-size: 1vw;
    color: rgba(51, 51, 51, 1);
}

.inputarea {
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 48%;
    height: 3vw;

    border: 0px;
    border-radius: 10px;

    background: white;

    font-size: 0.7vw;
    color: rgba(51, 51, 51, 1);
}

.inputarea > input {
    border: 0px;
}

.input-email {
    width: 100%;
}

.input-comment {
    display: block;
    padding: 20px;
    width: 100%;
    height: 10vw;

    border: 0px;

    font-size: 1vw;
    color: rgba(51, 51, 51, 1);

    resize: none;
}

.main-7-table-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 3vw;

    font-size: 1.2vw;
    color: white;

    border: 0px;
    border-radius: 50px;
    background: rgba(59, 182, 103, 1);

    margin: 0 auto;
    cursor: pointer;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 11vw;

    background: rgba(0, 63, 80, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 0px;
    border-left: 0px;
}

.footer-logo {
    width: 128px;
    height: 30px;

    background: url(img/svg/bg/logo.svg);
    background-size: cover;
    margin: 0 auto;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    width: 62%;
    height: 5vw;
    margin: 0 auto;
}

.footer-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2;
    text-align: center;

    width: 33%;
    height: 100%;
    font-size: 1vw;
}

.footer-year {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 4vw;

    background: rgba(0, 63, 80, 0.1);
}

.mobile-header-button {
    display: none;
}

.mobile-header-nav {
    display: none;
}

/* Mobile */

.mobile-media-apple-devices {
    display: none;
}

@media (max-width: 767px) {
    
    /* Header */

    .header {
        height: 15vw;
    }

    .header-info {
        width: 90%;
    }

    .header-logo-img {
        width: 33vw;
    }

    .header-nav {
        display: none;
    }
    
    .mobile-header-button {
        position: absolute;
        top: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 9vw;
        height: 9vw;
        border: 2px solid white;
        border-radius: 50%;
        z-index: 10000;
    }
    
    #call {
        left: 70%;
    }
    
    #menu {
        left: 85%;
    }
    
    #mobile-header-menu {
        position: absolute;
        top: 15vw;
        right: 6vw;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        width: 86vw;
        height: 110vw;
        
        background: white;
        border-radius: 20px;
        z-index: 50000;
        
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.2);
    }
    
    #mobile-header-menu > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        height: 85%;
        margin: 0 auto;
    }
    
    .mobile-nav-li {
        height: 10%;
        font-size: 5vw;
    }
    
    .mobile-nav-li > a {
        color: black;
    }
    
    #mobile-button-nav-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 50vw;
        height: 12vw;
        
        background: white;
        border: 2px solid;
        border-radius: 6vw;
        outline: none;
        
        font-size: 5vw;
    }
    
    #mobile-header-call {
        position: absolute;
        top: 28vw;
        right: 7vw;
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        width: 86vw;
        height: 110vw;
        
        background: white;
        border-radius: 20px;
        z-index: 50000;
        
        box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.2);
    }

    .mobile-cross {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        
        width: 90%;
    }
    
    .mobile-title {
        font-size: 5vw;
        font-weight: bold;
    }
    
    .mobile-text {
        font-size: 4vw;
        width: 80%;
        text-align: center;
    }
    
    .mobile-name {
        height: 14vw;
        width: 80%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        border-radius: 4vw;
        
        font-size: 4vw;
        padding-left: 4vw;
    }
    
    .mobile-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 80%;
        height: 14vw;
        
        padding-left: 4vw;
        
        font-size: 3vw;    
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4vw;
    }
    
    .mobile-phone > input {
        
        width: 90%;
        height: 60%;
        border: 0px;
        outline: none;
        font-size: 3vw;
    }
     
    .mobile-send {
        display: flex;
        justify-content: center;
        align-items: center;
        
        background: #3BB667;
        width: 40vw;
        height: 12vw;
        
        border: 0px;
        outline: none;
        border-radius: 6vw;
        
        color: white;
        font-size: 4vw;
        margin: 7vw;
    }
    
    /* Main 1 */
    .main-unity-2 {
        display: none;
    }

    .main {
        flex-direction: column-reverse;
        justify-content: space-around;

        height: 180vw;
        background: #003F50;
    }

    .main-width {
        padding-top: 40vw;
        height: 60vw;
        width: 90%;
    }

    .main-text {
        height: 100vw;
        width: 100%;
    }

    .main-text-1 {
        width: 100%;
        font-size: 7vw;
    }

    .main-text-2 {
        font-size: 5.4vw;
        width: 80%;
    }

    .main-text-3 {
        width: 100%;
        font-size: 4.2vw;
        font-weight: 300;
    }

    .main-text-button {
        width: 45%;
        height: 12vw;

        font-size: 4.7vw;
        font-weight: 500;
    }

    .mobile-media-apple-devices {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .mobile-media-apple-img {
        width: 90%;
        margin: 0 auto;
    }

    .main-apple-devices {
        display: none;
    }

    /* Main 2 */
    .main-2 {
        height: 740vw;
    }

    .main-2-text-1 {
        width: 80%;
        font-size: 8vw;
        margin: 0 auto;
    }

    .main-2-text-2 {
        width: 93%;
        font-size: 4vw;
        margin: 0 auto;
    }

    .main-2-table {
        width: 90%;
        height: 98%;
    }

    .table-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 109vw;
        border-radius: 20px;
    }

    .table-cell-sign {
        display: flex;
        width: 80%;
        align-items: center;
        margin: 0 auto;
        height: 27%;
    }

    .table-cell-text {
        justify-content: flex-start;
        width: 90%;
        height: 73%;
    }

    .cell-text-1 {
        font-size: 4.5vw;
        font-weight: 600;
        width: 88%;
        height: 12%;
        margin: 0 auto;
    }

    .cell-text-2 {
        font-size: 4.8vw;
        font-weight: 300;
        width: 88%;
        height: 80%;
        margin: 0 auto;
    }

    .sign-round {
        width: 20vw;
        height: 20vw;
    }

    /* Main 3 */

    .main-3 {
        margin-top: 25vw;
        background: #003F50;
        height: 350vw;
    }

    .main-3-laptop {
        display: flex;
        justify-content: center;
        
        width: 80vw;
        height: 45.9vw;
        
        margin-top: -26vw;
    }

    iframe {
        position: relative;
    
        width: 61.2vw;
        height: 40vw;
    
        top: 1.9vw;
        left: -0.05vw;
    }

    .main-3-text {
        font-size: 6vw;
        margin-top: 10vw;
    }

    .main-3-table {
        height: 300vw;
        width: 90%;
        margin: 0 auto;
    }

    .main-3-table-cell {
        width: 100%;
        height: 45vw;
        border-radius: 20px;
    }

    .table-3-cell-logo {
        margin-top: -7vw;
    }

    .table-3-cell-text {
        height: 100%;
        justify-content: center;
    }

    .table-3-cell-text-1 {
        font-size: 5vw;
        height: auto;
    }

    .table-3-cell-text-2 {
        font-size: 4vw;
        height: 60%;
    }

    /* Main 4 */

    .main-4 {
        margin-top: 10vw;
    }

    .main-4-text {
        font-size: 7vw;
        margin-bottom: 4vw;
    }

    .main-4-table {
        flex-direction: column;
        width: 90%;
        height: 400vw;
    }

    .main-4-table-cell {
        width: 100%;
        height: 130vw;

        border: 3px solid #003F50;
        border-radius: 20px;
    }

    .main-4-table-cell:hover {
        border: 2px solid transparent;
        height: 130vw;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }

    .table-4-cell-text-1 {
        font-size: 5vw;
        height: 14%;
    }

    .price {
        font-size: 6vw;
    }

    .price > b {
        font-size: 6vw;
    }

    .table-4-cell-text-2 {
        font-size: 5vw;
        height: 25%;
        width: 80%;
    }

    .table-4-cell-text-3 {
        font-size: 4.5vw;
        width: 88%;
    }

    .table-4-cell-button {
        height: 20%;
    }

    .button-order {
        width: 40%;
        height: 12vw;
        font-size: 4vw;
    }

    /* Main 5 */

    .main-5 {
        min-height: 200vw;
    }

    .main-5-text {
        font-size: 6vw;
        width: 88%;
    }

    #main-5-ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 170vw;
        width: 90%;
    }

    .main-5-ul-li-showed {
        height: auto;
        min-height: 20vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    
    .main-5-ul-li {
        border-radius: 20px;
    }
    
    .main-5-ul-li-logo {
        height: 40%;
        width: 15%;
    }
    
    .main-5-ul-li-arrow {
        width: 15vw;
    }
    
    .main-5-ul-li-arrow > svg {
        width: 7vw;
    }    
    
    .main-5-ul-li-text {
        font-size: 5vw;
        width: 70%;
    }
    
    .list-hide-elem {
        padding: 0px 40% 0px 0px;
        font-size: 4vw;
    }
    
    /* Main 6 */
    
    .main-6 {
        height: 70vw;
    }
    
    .main-6-text {
        font-size: 6vw;
    }
    
    .main-6-slider {
        width: 60%;
        min-height: 50vw;
    }
    
    .slider-image > img {
        padding: 5vw;
        width: 100%;
    }
    
    .slider-image {
        height: 20vw;
        min-width: 100%;
    }
    
    .slider-images {
        overflow: auto;
        overflow-y: hidden;
    
        scroll-snap-type: x mandatory;
    }
    
    
    /* Main 7 */

    .main-7 {
        flex-direction: column;
        justify-content: center;
        height: 170vw;
    }
    
    .main-7-table {
        display: flex;
        flex-direction: column;
        justify-items: ;
        
        width: 90%;
        height: 77%;
    }
    
    .main-7-table-text {
        font-size: 6vw;
    }
    
    .input-name-phone {
        flex-direction: column;
        justify-content: space-between;
        height: 35vw;
    }
    
    .input-name-phone > input {
        width: 100%;
        height: 45%;
        border-radius: 20px;
        font-size: 4.5vw;
        padding-left: 30px;
    }
    
    .input-name-phone > .inputarea {
        width: 100%;
        font-size: 3vw;
        height: 48%;
        border-radius: 20px;
        padding-left: 30px;
    }
    
    .inputarea {
        height: 19vw;
        font-size: 3vw;
        border-radius: 20px;
        padding-left: 30px;
    }
    
    .inputarea > input {
        height: 80%;
        font-size: 4vw;
    }
    
    .input-comment {
        height: 46vw;
        
        font-size: 4vw;
        border-radius: 20px;
        padding-left: 30px;
    }

    .main-7-table-button {
        height: 13vw;
        width: 50%;
        
        font-size: 4vw;
        
        margin-bottom: -3vw;
    }
    
    /* Footer */

    footer {
        justify-content: space-around;
        
        height: 100vw;
    }
    
    .footer-logo {
        width: 150px;
        height: 38px;
        
        margin-top: 2vw;
    }
    
    .footer-text {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        height: 70%;
        width: 80%;
    }
    
    .footer-text > div {
        font-size: 4.4vw;
        width: 80%;
    }

    .footer-year {
        height: 25vw;
        font-size: 4vw;
    }

    .hide-block-test {
        min-height: 150vw;
        width: 90%;
        border-radius: 20px;
    }
    
    .hide-text-1 {
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 5vw;
    }

    .hide-test-text-2 {
        width: 80%;
        font-size: 4vw;
    }

    .hide-test-inp {
        flex-direction: column;
        height: 20%;
    }
    
    .hide-test-input {
        height: 48%;
        width: 100%;
        font-size: 6vw;
    }
    
    .hide-input-call {
        height: 48%;
        width: 100%;
        font-size: 3vw;
    }

    #mobile-selection {
        height: 10%;
        font-size: 4vw;
    }
    
    #mobile-selection > option {
        font-size: 5vw;
    }
    
    .textarea-test {
        height: 30%;
        font-size: 4vw;
    }
    
    .hide-test-button {
        width: 77%;
        height: 13vw;
        font-size: 5vw;
    }
    
    .cross {
        width: 25px;
        height: 25px;
        margin: 20px;
    }

   




}