*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

.main {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.eugene {
    background: url(Eugene/Eugene_preveiw.jpg);
    background-size: 100%;
    background-position: center;
}

.eugene:hover {
    box-shadow: inset 0px 0px 200px black;
    transition: 1s;    
    background-size: 120%;
}

.eugene > h1 {
    display: none;
}

.eugene:hover > h1 {
    transition: .5s;
    display: block;
}

.dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    font-size: 40px;
    transition: 1s;
    text-align: center;
}

.matvey {
    background: url(Matvey/matvey_preview.png);
    background-size: 100%;
    background-position: center;
    transition: 1s;
}

.matvey:hover {
    box-shadow: inset 0px 0px 200px black;
    transition: 1s;
    background-size: 120%;
}

.matvey > h1 {
    display: none;
}

.matvey:hover > h1 {
    display: block;
}

