h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

p {
    margin: 20px; 
    font-size: 20px;
}

.button {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 70px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.results {
    display: inline-block;
    width: 50%;
}

.practice {
    display: inline-block;
    width: 49%;
    height: 50vw;
    float: right;
    border: 2px solid black;
}

#practice_2 {
    width: 49%;
    height: 50vw;
    border: 2px solid black; 
}

#delete_1 {
    width: 100px;
    height: 70px;
    background: red;
    margin: 20px;
}