* {
    box-sizing: border-box;
}
body {
    margin: 0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
h1 {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    margin: 0;
}
.main .game .table table tr td p {
    font-size: 80px;
    line-height: 0;
    font-weight: 700;
    text-align: center;
    margin: 0;
    background-size: cover;
}
.main .game .check .table_check tr td p {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    background-size: cover;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: #14bdac;
}
/* Table with Game */

.game {
    display: flex;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    top: 50%;
}

.gamezone_1 {
	display: flex;
	margin: 0 auto;
	width: 420px;
	height: 420px;
	flex-wrap: wrap;
}

.gamezone {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 140px;
	border: 1px solid;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* Again */

.again {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 600px;
}

#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 70px;
    border: 3px solid red;
    border-radius: 10px;
}

#button:hover {
    transition: .2s;
    background: #e65caa;
}

/* Check */

.check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24%;
    height: 600px;
}

.table_check {
    border: 3px solid;
    border-spacing: 0;
    background: #6a82a8;
}






























